<h1 class="page-header text-center home-header well-top-0">
  Welcome to Simply Kyna<br/>
   <small>The home of all things me, Kyna!</small>
</h1>

<% if @last == nil %>

<%else %>
<!-- First Blog Post -->
<h2>
   <a href="#"><%= @last.title %></a>
</h2>
<!--<p class="lead">
   by <a href="index.php"><%= @last.author  %></a>
</p> -->
<p><span class="glyphicon glyphicon-time"></span> <%= @last.created_at %></p>
<hr>
<div class="container-fluid">

<%= image_tag @last.avatar.url, class: "img-responsive" %>
</div>

<hr>
<p><%= @last.description  %></p>

<%= link_to article_path(id: @last.id), class: "btn btn-primary" do %>
  Read More
  <span class="glyphicon glyphicon-chevron-right"></span>
<% end %>

<% end %>
<hr>
<% if @second_last == nil %>

<%else %>
<!-- Second Blog Post -->
<h2>
   <a href="#"><%= @second_last.title %></a>
</h2>
<!--<p class="lead">
   by <a href="index.php"><%= @last.author  %></a>
</p> -->
<p><span class="glyphicon glyphicon-time"></span> <%= @second_last.created_at %></p>
<hr>
<%= image_tag @second_last.avatar.url, class: "img-responsive" %>
<hr>
<p><%= @second_last.description  %></p>

<%= link_to article_path(id: @second_last.id), class: "btn btn-primary" do %>
  Read More
  <span class="glyphicon glyphicon-chevron-right"></span>
<% end %>
<% end %>

<% if @third_last == nil %>

<%else %>
<!-- Third Blog Post -->
<h2>
   <a href="#"><%= @third_last.title %></a>
</h2>
<!--<p class="lead">
   by <a href="index.php"><%= @last.author  %></a>
</p> -->
<p><span class="glyphicon glyphicon-time"></span> <%= @third_last.created_at %></p>
<hr>
<%= image_tag @third_last.avatar.url, class: "img-responsive" %>
<hr>
<p><%= @third_last.description  %></p>

<%= link_to article_path(id: @third_last.id), class: "btn btn-primary" do %>
  Read More
  <span class="glyphicon glyphicon-chevron-right"></span>
<% end %>



<!-- Pager -->
<ul class="pager">
   <li class="previous">
       <a href="#">&larr; Older</a>
   </li>
   <li class="next">
       <a href="#">Newer &rarr;</a>
   </li>
</ul>

<% end %>
